﻿@model ColumnSortData

@if (Model.CurrentSort == Model.FieldName)
{
	<a href="@Url.Action("Index", "Students")?sort=@(Model.FieldName+1)">@Model.Name <i class="glyphicon glyphicon-sort-by-attributes"></i></a>
}
else if (Model.CurrentSort == Model.FieldName+1)
{
	<a href="@Url.Action("Index", "Students")">@Model.Name <i class="glyphicon glyphicon-sort-by-attributes-alt"></i></a>
}
else
{
	<a href="@Url.Action("Index", "Students")?sort=@Model.FieldName">@Model.Name</a>
}