﻿@model Student

@{
	ViewBag.Title = "title";
	if (ViewBag.IsAjax == true)
	{
		Layout = null;
	}
}
<br/>
<form class="form-horizontal" asp-controller="Students" asp-action="Update" method="post">
	<input type="hidden" name="Id" value="@Model.Id">
	<div class="form-group">
		<label for="FirstName" class="col-sm-2 control-label">FirstName</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName">
		</div>
	</div>
	<div class="form-group">
		<label for="LastName" class="col-sm-2 control-label">LastName</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName">
		</div>
	</div>
	<div class="form-group">
		<label for="BirthDate" class="col-sm-2 control-label">BirthDate</label>
		<div class="col-sm-10">
			<input type="date" class="form-control" id="BirthDate" name="BirthDate" value="@Model.Birthdate?.ToString("yyyy-MM-dd")">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Save</button>
		</div>
	</div>
</form>