﻿@model List<Student>
@{
	ViewData["Title"] = "Home Page";
	var sort = (StudentsSort)ViewBag.Sort;
}
<table class="table table-hover table-condensed table-bordered">
	<tr>
		<th><partial name="ColumnSortLink" model="@(new ColumnSortData(StudentsSort.FirstName, sort))" /></th>
		<th><partial name="ColumnSortLink" model="@(new ColumnSortData(StudentsSort.LastName, sort))" /></th>
		<th><partial name="ColumnSortLink" model="@(new ColumnSortData(StudentsSort.Birthdate, sort))" /></th>
		<th><partial name="ColumnSortLink" model="@(new ColumnSortData(StudentsSort.AverageMark, sort))" /></th>
		<th><partial name="ColumnSortLink" model="@(new ColumnSortData(StudentsSort.LastMark, sort))" /></th>
		<td>
			<a class="btn btn-primary edit-student-link" href="@Url.Action("Edit", "Students")">
				New student...
			</a>
		</td>
	</tr>

	@foreach (var student in Model)
	{
		<tr>
			<td>@student.FirstName</td>
			<td>@student.LastName</td>
			<td>@student.Birthdate</td>
			<td>@student.AverageMark</td>
			<td>@student.LastMark</td>
			<td>
				<a class="btn btn-primary edit-student-link" href="@Url.Action("Edit", "Students", new {id = student.Id})">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<form asp-controller="Students" asp-action="Delete" method="post" style="display:inline">
					<input type="hidden" name="Id" value="@student.Id">
					<button class="btn btn-danger" type="submit">
						<i class="glyphicon glyphicon-remove-sign"></i>
					</button>
				</form>
			</td>

		</tr>
	}
</table>

<div class="modal fade" id="edit-student-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				
			</div>
			@*<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>*@
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(function () {
			$(".edit-student-link").click(function (ev) {
				ev.preventDefault();

				var $target = $(this);
				var href = $target.attr("href");

				$.post(href, {},
					function(data) {
						$('#edit-student-modal .modal-body').html(data);
						$('#edit-student-modal').modal();
					});
			});
		});
	</script>
}
