﻿@model List<StudentMark>

@{
	ViewBag.Title = "AddMark";
}
<table class="table table-hover table-condensed table-bordered">
	<th colspan="@Model.Count">Current Marks</th>
	<tr>
		@foreach (var mark in Model)
		{
			<td>
				@mark.Date?.ToString("dd MMMM yyyy")
			</td>
		}
	</tr>
	<tr>
		@foreach (var mark in Model)
		{
		@*<td>
			@($"{Model.FirstName} {Model.LastName}")
		</td>*@
			<td>
				@mark.Mark
			</td>
		}
	</tr>
</table>
<form class="form-horizontal" asp-controller="Marks" asp-action="Update" method="post">
	<input type="hidden" name="Id" value="@Model.">

	<div class="form-group">
		<label for="newMark" class="col-sm-2 control-label">New Mark</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="newMark" name="newMark" value=" ">
		</div>
	</div>
	<div class="form-group">
		<label for="markDate" class="col-sm-2 control-label">Date</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="markDate" name="markDate" value="">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Save</button>
		</div>
	</div>
</form>


