﻿@model StudentsMarks

@{
	ViewBag.Title = "Marks";
}

<div style="margin-top: 1em; height: 3em">
	<a class="btn btn-primary pull-left" href="@Url.Action("Index", "Marks", new {lastDate=Model.PreviousPeriodLastDate.ToString("dd.MM.yyyy")})">
		@($"{Model.PreviousPeriodFirstDate:dd.MM.yy} - {Model.PreviousPeriodLastDate:dd.MM.yy}")
	</a>
	@if (Model.NextPeriodExists)
	{
		<a class="btn btn-primary pull-right" href="@Url.Action("Index", "Marks", new {lastDate = Model.NextPeriodLastDate.ToString("dd.MM.yyyy")})">
			@($"{Model.NextPeriodFirstDate:dd.MM.yy} - {Model.NextPeriodLastDate:dd.MM.yy}")
		</a>
	}
</div>

<table class="table table-hover table-condensed table-bordered">
	<tr>
		<td></td>
		@{
			for (DateTime i = Model.FirstDate; i <= Model.LastDate;)
			{
				var next = new DateTime(i.Year, i.Month, 1).AddMonths(1);
				if (next > Model.LastDate.AddDays(1))
				{
					next = Model.LastDate.AddDays(1);
				}
				<td colspan="@((next - i).Days)">@i.ToString("MMMM yyyy")</td>
				i = next;
			}
		}
	</tr>

	<tr>
		<td></td>
		@for (DateTime i = Model.FirstDate; i <= Model.LastDate; i = i.AddDays(1))
		{
			<td>@i.Day</td>
		}
	</tr>

	@foreach (var student in Model.Students)
	{
		<tr>
			<td>@($"{student.Student.FirstName} {student.Student.LastName}")</td>
			@{
				foreach (var mark in student.Marks)
				{
					if (mark == 0)
					{
						<td></td>
					}
					else
					{
						<td>@mark</td>
					}
				}
			}
			@if (!Model.NextPeriodExists)
			{
				<td>
					<button class="btn btn-primary add-mark-btn" data-id ="@student.Student.Id">
						Add Mark
					</button>
				</td>
			}
		</tr>
	}
</table>

<div class="modal fade" id="add-mark-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" asp-controller="Marks" asp-action="Add" method="post">
					<input type="hidden" id="addMarkId" name="id">
					<div class="form-group">
						<label for="addMarkValue" class="col-sm-2 control-label">Введите оценку</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="addMarkValue" name="mark">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		$(function () {
			$(".add-mark-btn").click(function () {
				var $target = $(this);
				var id = $target.data("id");
				$('#add-mark-modal').modal();
				$('#addMarkId').val(id);
				$('#addMarkValue').val("");
			});
		});
	</script>
}
